# Requirements.txt for aws lambda -> normally use setup.cfg
uvicorn~=0.17
passlib[bcrypt]
cryptography
fastapi
pydantic
python-jose
SQLAlchemy
alembic
geoalchemy2
loguru
shapely
mangum
loguru
pytest
psycopg2-binary
python-multipart
requests
fastapi-mail
python-dateutil
geobuf
protobuf~=3.20
httpx
aioredis
bcrypt
