# Requirements.txt for aws lambda -> normally use setup.cfg
uvicorn~=0.17
passlib[bcrypt]
cryptography
fastapi
pydantic
python-jose
SQLAlchemy
alembic
geoalchemy2
loguru
shapely
mangum
pytest
psycopg2
python-multipart
